BODY {
	SCROLLBAR-FACE-COLOR: #cccccc; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #777777; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
.formElement {
  border: solid 1px #000000;
  font-size: 10px;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  color: #000000;
  margin: 0px;
}
.bodyText {
	PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:link {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #555555file:///usr/share/tomcat5/webapps/demo/commonlogin.html
; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #555555; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #0066cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #555555; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.smtext {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navspace {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0066cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.nav {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(nav.gif); COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.nav2 {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(nav2.gif); COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smhead {
	FONT-WEIGHT: bold; FONT-SIZE: 25px; COLOR: #555555; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.faq-para {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.faq-head {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.faq-num {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0066cc; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inputs {
	BORDER-RIGHT: #177fd7 1px solid; BORDER-TOP: #177fd7 1px solid; BORDER-LEFT: #177fd7 1px solid; WIDTH: 100px; COLOR: #555555; LINE-HEIGHT: normal; BORDER-BOTTOM: #177fd7 1px solid; HEIGHT: 17px
}
.table {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; COLOR: #999999; LINE-HEIGHT: normal; BORDER-BOTTOM: #999999 1px solid
}
.inputs2 {
	BORDER-RIGHT: #177fd7 1px solid; BORDER-TOP: #177fd7 1px solid; BORDER-LEFT: #177fd7 1px solid; WIDTH: 300px; COLOR: #555555; BORDER-BOTTOM: #177fd7 1px solid; HEIGHT: 80px; BACKGROUND-COLOR: #ffffff
}
.prodhead {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #008ae6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.prodpara {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; WIDTH: 500px; COLOR: #555555; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.nav {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #3399cc
}
.nav2 {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f4f4
}
.displayFieldIE {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: #eceef8; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; WIDTH: 120px; COLOR: #505050; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: verdana, arial, san-serif
}
.Buttons {
	BORDER-RIGHT: #555555 1px groove; BACKGROUND-POSITION: center center; BORDER-TOP: #555555 1px groove; FONT-WEIGHT: normal; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(nav.gif); BORDER-LEFT: #555555 1px groove; COLOR: #000000; BORDER-BOTTOM: #555555 1px groove; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #5e6c50
}
.inputFieldIE {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; WIDTH: 200px; COLOR: #505050; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: verdana, arial, san-serif
}
TD.NON {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #c0c0c0; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.TOP {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Tahoma, Verdana, Arial
}
TD.Some {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial
}
A.NOEVENT:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.NOEVENT:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.EVENT:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.EVENT:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: orange; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.DATE:link {
	BORDER-RIGHT: #177fd7 1px solid; BORDER-TOP: #177fd7 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #177fd7 1px solid; COLOR: #555555; BORDER-BOTTOM: #177fd7 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.DATE:visited {
	BORDER-RIGHT: #177fd7 1px solid; BORDER-TOP: #177fd7 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #177fd7 1px solid; COLOR: #555555; BORDER-BOTTOM: #177fd7 1px solid; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
.inputFieldIENo {
	BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 0px solid; WIDTH: 200px; COLOR: #505050; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 0px solid; FONT-FAMILY: verdana, arial, san-serif
}
BODY {
	SCROLLBAR-FACE-COLOR: #cccccc; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #777777; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
.BG {
	BORDER-RIGHT: #efefef 1px; BORDER-TOP: #efefef 1px; FONT-SIZE: 11px; BACKGROUND: #cccccc; BORDER-LEFT: #efefef 1px; COLOR: #505050; BORDER-BOTTOM: #efefef 1px; FONT-FAMILY: Verdana, arial, san-serif
}
.bodyText {
	PADDING-LEFT: 4px; FONT-SIZE: 11px
}
A:link {
	COLOR: #314152; TEXT-DECORATION: none
}
A:active {
	COLOR: #314152; TEXT-DECORATION: none
}
A:visited {
	COLOR: #52658c; TEXT-DECORATION: none
}
.bodyBackground {
	BACKGROUND-COLOR: #ffffff
}
.messageBoxBackground {
	BACKGROUND-COLOR: #f2f4fe
}
P.reset {
	FONT-SIZE: 11px; MARGIN: 1px; FONT-FAMILY: Verdana, arial, san-serif
}
BR.separator {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 5px
}
.shadow {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
HR {
	MARGIN: 8px
}
.error {
	PADDING-LEFT: 6px; FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #c63e3e; PADDING-TOP: 6px; FONT-FAMILY: Verdana, arial, san-serif
}
.errorText {
	PADDING-LEFT: 6px; FONT-SIZE: 11px; COLOR: #c63e3e; FONT-FAMILY: Verdana, arial, san-serif
}
.positiveMessage {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #238b3b; FONT-FAMILY: Verdana, arial, san-serif
}
.nav2 {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: "Verdana", Arial, Helvetica, sans-serif
}
.shellBody {
	MARGIN: 0px
}
.shellBackground {
	MARGIN: 0px; COLOR: #ffffff; BACKGROUND-COLOR: #996600
}
.shellContent {
	BORDER-TOP-WIDTH: 4px; BORDER-LEFT-WIDTH: 4px; BORDER-BOTTOM-WIDTH: 4px; BACKGROUND-COLOR: #e6e6e6; BORDER-RIGHT-WIDTH: 4px
}
.shellEdgeTop {
	FONT-SIZE: 2px; BACKGROUND-REPEAT: repeat-x
}
.shellEdgeBottom {
	FONT-SIZE: 1px; BACKGROUND-REPEAT: repeat-x
}
.shellEdgeLeft {
	FONT-SIZE: 2px; BACKGROUND-REPEAT: repeat-y
}
.shellEdgeRight {
	FONT-SIZE: 2px; BACKGROUND-REPEAT: repeat-y
}
.shellBannerText {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Verdana,arial,san-serif
}
.shellBannerText A:link {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.shellBannerText A:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.shellBannerText A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.shellBannerText A:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.applicationHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #2e4e9e; FONT-FAMILY: Verdana, arial, san-serif
}
.breadcrumbs {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #526352
}
.contentHeader {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #505050
}
TD {
	FONT-SIZE: 12px; COLOR: #505050; FONT-FAMILY: Verdana, arial, san-serif
}
.tableBorder {
	BORDER-RIGHT: #333333 1px; BORDER-TOP: #333333 1px; BORDER-LEFT: #333333 1px; BORDER-BOTTOM: #333333 1px; BACKGROUND-COLOR: #ffffff
}
.tableHeader {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; COLOR: #505050; LINE-HEIGHT: 18px; BACKGROUND-COLOR: #c6b46c
}
.tableColumnHeadings {
	FONT-SIZE: 11px; BACKGROUND: #d5efdf; COLOR: #505050; FONT-FAMILY: Verdana,arial,san-serif
}
.tableColumnHeadings TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px
}
.tableRow0 {
	FONT-SIZE: 12px; BACKGROUND: #d3e0ef; COLOR: #505050; FONT-FAMILY: Verdana, arial, san-serif
}
.tableRow0 TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px
}
.tableRow1 {
	FONT-SIZE: 12px; BACKGROUND: #6699cc; COLOR: #505050; FONT-FAMILY: Verdana,arial,san-serif
}
.tableRow1 TD {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px
}
.rowHighlight {
	FONT-SIZE: 12px; BACKGROUND: #fff274; COLOR: #505050; FONT-FAMILY: Verdana,arial,san-serif
}
.columnHighlight {
	FONT-SIZE: 12px; BACKGROUND: #fffacd; COLOR: #505050; FONT-FAMILY: Verdana,arial,san-serif
}
.indent {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-TOP: 8px
}
.popupLink {
	COLOR: #4b9e27; TEXT-DECORATION: none
}
.popupLink A:link {
	COLOR: #4b9e27; TEXT-DECORATION: none
}
.popupLink A:active {
	COLOR: #4b9e27; TEXT-DECORATION: none
}
.popupLink A:visited {
	COLOR: #4b9e27; TEXT-DECORATION: none
}
.popupLink A:hover {
	COLOR: #4b9e27; TEXT-DECORATION: none
}
.menuText {
	FONT-SIZE: 12px; COLOR: #505050; FONT-FAMILY: Verdana, arial, san-serif; TEXT-DECORATION: none
}
.menuText A:link {
	COLOR: #505050; TEXT-DECORATION: none
}
.menuText A:active {
	COLOR: #505050; TEXT-DECORATION: none
}
.menuText A:visited {
	COLOR: #505050; TEXT-DECORATION: none
}
.menuText A:hover {
	COLOR: #000000
}
.menuUnHighlighted {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; BACKGROUND: #f2f4fe; TEXT-TRANSFORM: none; COLOR: #330066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.menuHighlighted {
	BACKGROUND: #6699ff; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.menuShadow {
	BORDER-RIGHT: #d1d6f0 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #d1d6f0 1px solid; BACKGROUND-COLOR: #f2f4fe
}
.buttonBorder {
	BACKGROUND-COLOR: #999999
}
.buttonBorderDisabled {
	BACKGROUND-COLOR: #bfbfbf
}
#buttonEmphasized {
	BORDER-RIGHT: #d0bb03 1px solid; BORDER-TOP: #fffbd4 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: #fffbd4 1px solid; BORDER-BOTTOM: #d0bb03 1px solid; BACKGROUND-COLOR: #ffe600
}
#buttonRegular {
	BORDER-RIGHT: #e4db83 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #e4db83 1px solid; BACKGROUND-COLOR: #fff6a6
}
#buttonDisabled {
	BORDER-RIGHT: #e6e3b8 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #e6e3b8 1px solid; BACKGROUND-COLOR: #fffbdb
}
#buttonSmallEmphasized {
	BORDER-RIGHT: #d0bb03 1px solid; BORDER-TOP: #fffbd4 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #fffbd4 1px solid; BORDER-BOTTOM: #d0bb03 1px solid; BACKGROUND-COLOR: #ffe600
}
#buttonSmallRegular {
	BORDER-RIGHT: #e4db83 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #e4db83 1px solid; BACKGROUND-COLOR: #fff6a6
}
#buttonSmallDisabled {
	BORDER-RIGHT: #e6e3b8 1px solid; BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 10px; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #e6e3b8 1px solid; BACKGROUND-COLOR: #fffbdb
}
.buttonText {
	PADDING-BOTTOM: 1px; COLOR: #505050; FONT-FAMILY: Verdana, arial, san-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.buttonTextDisabled {
	BORDER-RIGHT: #e6e3b8 1px solid; BORDER-TOP: #ffffff 1px solid; PADDING-BOTTOM: 1px; BORDER-LEFT: #ffffff 1px solid; COLOR: #b2b2b2; BORDER-BOTTOM: #e6e3b8 1px solid; FONT-FAMILY: Verdana, arial, san-serif; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.buttonText A:link {
	COLOR: #505050; TEXT-DECORATION: none
}
.buttonText A:active {
	COLOR: #505050; TEXT-DECORATION: none
}
.buttonText A:visited {
	COLOR: #505050; TEXT-DECORATION: none
}
.buttonText A:hover {
	COLOR: #000000
}
.formLabel {
	COLOR: #505050; TEXT-ALIGN: left
}
.pulldown {
	FONT-SIZE: 11px; PADDING-BOTTOM: 1px; MARGIN-LEFT: 4px; COLOR: #505050; LINE-HEIGHT: 17px; MARGIN-RIGHT: 4px; PADDING-TOP: 1px; FONT-FAMILY: Verdana, arial, san-serif
}
.pulldownIE {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; BACKGROUND: #ebf5fc; BORDER-LEFT: #999999 1px solid; COLOR: #505050; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, arial, san-serif
}
.pulldownNS {
	FONT-SIZE: 11px; BACKGROUND: #ffffff; COLOR: #505050; FONT-FAMILY: Verdana, arial, san-serif
}
.formLabel {
	FONT-SIZE: 11px
}
.requiredIndicator {
	FONT-SIZE: 11px; COLOR: #ff0000
}
#rightAlign {
	TEXT-ALIGN: right
}
.inputFieldIE {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #999999 1px solid; COLOR: #505050; PADDING-TOP: 2px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, arial, san-serif
}
.inputFieldNS {
	PADDING-LEFT: 8px; FONT-SIZE: 11px; COLOR: #505050; FONT-FAMILY: Verdana, arial, san-serif
}
.smallinputFieldIE {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 11px; BORDER-LEFT: #999999 1px solid; COLOR: #505050; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, arial, san-serif
}
.smallinputFieldNS {
	PADDING-LEFT: 8px; FONT-SIZE: 11px; COLOR: #505050; FONT-FAMILY: Verdana, arial, san-serif
}
.displayFieldIE {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 11px; BACKGROUND: #eceef8; PADDING-BOTTOM: 2px; BORDER-LEFT: #999999 1px solid; COLOR: #505050; PADDING-TOP: 2px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, arial, san-serif
}
.displayFieldNS {
	PADDING-LEFT: 8px; FONT-SIZE: 11px; BACKGROUND: #eceef8; COLOR: #505050; FONT-FAMILY: Verdana, arial, san-serif
}
.smalldisplayFieldIE {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 11px; BACKGROUND: #eceef8; BORDER-LEFT: #999999 1px solid; COLOR: #505050; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, arial, san-serif
}
.smalldisplayFieldNS {
	PADDING-LEFT: 8px; FONT-SIZE: 11px; BACKGROUND: #eceef8; COLOR: #505050; FONT-FAMILY: Verdana, arial, san-serif
}
.inputFieldNoBorder {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 5px; BORDER-TOP: 0px; PADDING-LEFT: 5px; FONT-SIZE: 11px; BORDER-LEFT: 0px; COLOR: #505050; BORDER-BOTTOM: 0px; FONT-FAMILY: Verdana, arial, san-serif
}
.requiredLabel {
	FONT-SIZE: 11px; COLOR: #ff0000
}
.menulinks {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0033ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:hover {
	COLOR: #f00
}
A.g:hover {
	COLOR: #fc6
}
A.w:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
A.b:hover {
	BACKGROUND-POSITION: left 50%; BACKGROUND-IMAGE: url(menu_bg.gif); COLOR: #000; BACKGROUND-REPEAT: repeat-y; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccccff; TEXT-DECORATION: underline
}
.prodhead {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #008ae6; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.prodpara {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; WIDTH: 500px; COLOR: #555555; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.nav {
	FONT-SIZE: 8px; COLOR: #333333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #3399cc
}
.Buttons {
	BORDER-RIGHT: #666666 1px groove; BACKGROUND-POSITION: center center; BORDER-TOP: #666666 1px groove; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: #666666 1px groove; COLOR: #ffffff; BORDER-BOTTOM: #666666 1px groove; FONT-FAMILY: "Verdana", Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #dddddd
}
.clCMAbs {
	LEFT: 0px; VISIBILITY: hidden; POSITION: absolute; TOP: 0px
}
.clBar {
	VISIBILITY: hidden; WIDTH: 10px; POSITION: absolute; HEIGHT: 8px; BACKGROUND-COLOR: #6699cc; layer-background-color: #6699cc
}
.clLevel0 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana,arial,helvetica; POSITION: absolute; TEXT-ALIGN: center
}
.clLevel0over {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana,arial,helvetica; POSITION: absolute; TEXT-ALIGN: center
}
.clLevel0 {
	COLOR: white; BACKGROUND-COLOR: #6699cc; layer-background-color: #6699cc
}
.clLevel0over {
	CURSOR: hand; COLOR: #6699cc; BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff
}
.clLevel0border {
	VISIBILITY: hidden; POSITION: absolute; BACKGROUND-COLOR: #000000; layer-background-color: #000000
}
.clLevel1 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, arial,helvetica; POSITION: absolute; TEXT-ALIGN: left
}
.clLevel1over {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, arial,helvetica; POSITION: absolute; TEXT-ALIGN: left
}
.clLevel1 {
	COLOR: white; BACKGROUND-COLOR: #6699cc; layer-background-color: #6699cc
}
.clLevel1over {
	CURSOR: hand; COLOR: #6699cc; BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff
}
.clLevel1border {
	VISIBILITY: hidden; POSITION: absolute; BACKGROUND-COLOR: #000000; layer-background-color: #000000
}
.clLevel2 {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana,arial,helvetica; POSITION: absolute; TEXT-ALIGN: left
}
.clLevel2over {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; FONT-FAMILY: Verdana,arial,helvetica; POSITION: absolute; TEXT-ALIGN: left
}
.clLevel2 {
	COLOR: white; BACKGROUND-COLOR: #6699cc; layer-background-color: #6699cc
}
.clLevel2over {
	CURSOR: hand; COLOR: #6699cc; BACKGROUND-COLOR: #ffffff; layer-background-color: #ffffff
}
.clLevel2border {
	VISIBILITY: hidden; POSITION: absolute; BACKGROUND-COLOR: #000000; layer-background-color: #000000
}
.copyright
{
    FONT-SIZE: 8pt;
    COLOR: #000080;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}

table.stats
{text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
font-size: 11px;
color: #fff;
width: 100%;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.stats td
{background-color: #F8F8FF;
color: #000;
padding: 4px;
text-align: center;
border: 1px #808080 solid;}

table.stats td.hed
{background-color: #DCDCDC;
color: #696969;
padding: 4px;
text-align: center;
border-bottom: 2px #808080 solid;
font-size: 12px;
font-weight: bold;} 

table.stats td.hed1
{background-color: #EEEEEE;
color: #696969;
padding: 4px;
text-align: center;
border-bottom: 2px #808080 solid;
font-size: 12px;
font-weight: bold;} 

table.sortable
{text-align: center;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif ;
font-weight: normal;
font-size: 11px;
color: #fff;
width: 100%;
background-color: #666;
border: 0px;
border-collapse: collapse;
border-spacing: 0px;}

table.sortable td
{background-color: #F8F8FF;
color: #000;
padding: 4px;
text-align: center;
border: 1px #808080 solid;}

table.sortable td.hed
{background-color: #DCDCDC;
color: #696969;
padding: 4px;
text-align: center;
border-bottom: 2px #808080 solid;
font-size: 12px;
font-weight: bold;} 

table.sortable td.hed1
{background-color: #EEEEEE;
color: #696969;
padding: 4px;
text-align: center;
border-bottom: 2px #808080 solid;
font-size: 12px;
font-weight: bold;} 