
.tops
	{
	font-family:     Verdana;

	font-size:       12px;

	font-weight:     bold;

	color:           #6A6F6A;

	text-decoration: none
	}

.lftpan
	{
	font-family:     Verdana;

	font-size:       10px;

	font-weight:     bold;

	color:           #006699;

	text-decoration: none
	}

.lftpan:hover
	{
	font-family:     Verdana;

	font-size:       10px;

	font-weight:     bold;

	color:           #006699;

	text-decoration: underline
	}

.comp
	{
	font-family:     Verdana;

	font-size:       10px;

	font-weight:     normal;

	color:           #000000;

	text-decoration: none;

	word-spacing:    2px
	}

.formhead
	{
	font-family:      Verdana;

	font-size:        12px;

	font-weight:      bold;

	color:            #333333;

	text-decoration:  none;

	background-color: #EFEFD3
	}

.label
	{
	font-family:      arial;

	font-size:        12px;

	font-weight:      normal;

	color:            #333333;

	text-decoration:  none;

	background-color: #F3F3E0
	}

.textboxes1
	{
	text-decoration:  none;

	background-color: #FFFFFF;

	BORDER-RIGHT:     black 1px groove;

	BORDER-TOP:       black 1px groove;

	FONT-SIZE:        8pt;

	BORDER-LEFT:      black 1px groove;

	BORDER-BOTTOM:    black 1px groove;

	FONT-FAMILY:      Verdana, arial;
	}

.fields
	{
	text-decoration:  none;

	background-color: #FFFFFF;

	BORDER-RIGHT:     black 1px groove;

	BORDER-TOP:       black 1px groove;

	FONT-SIZE:        12pt;

	BORDER-LEFT:      black 1px groove;

	BORDER-BOTTOM:    black 1px groove;

	FONT-FAMILY:      Verdana, arial;
	}

.buttons1
	{
	font-family:      Verdana;

	font-size:        12px;

	font-weight:      normal;

	color:            #333333;

	text-decoration:  none;

	background-color: #F3F3E0;

	BORDER-RIGHT:     black 1px groove;

	BORDER-TOP:       black 1px groove;

	FONT-SIZE:        8pt;

	BORDER-LEFT:      black 1px groove;

	COLOR:            black;

	BORDER-BOTTOM:    black 1px groove;
	}

.bottom
	{
	font-family:     Verdana;

	font-size:       10px;

	font-weight:     normal;

	color:           #666666;

	text-decoration: none
	}

.help
	{
	font-family:     Verdana;

	font-size:       10px;

	font-weight:     normal;

	color:           #003366;

	text-decoration: none
	}

.buttons
	{
	font-family:      Verdana;

	font-size:        12px;

	font-weight:      normal;

	color:            #333333;

	text-decoration:  none;

	border:           1px #A7A7A7 solid;

	background-color: #F3F3E0
	}

.welcome
	{
	font-family:     Verdana;

	font-size:       12px;

	font-weight:     normal;

	color:           #657CA9;

	text-decoration: none
	}
	.bighead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    COLOR: #6b6b50;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.head
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #6b6b50;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.navtext
{
    FONT-SIZE: 8pt;
    COLOR: #6b6b50;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.treetext
{
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.bodytext
{
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.rightside
{
    FONT-SIZE: 8pt;
    COLOR: #6b6b50;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.rightblue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #336699;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.cookie
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #6b6b50;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.copyright
{
    FONT-SIZE: 8pt;
    COLOR: #6b6b50;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.management
{
    FONT-SIZE: 10pt;
    COLOR: #336699;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.footerlink
{
    FONT-SIZE: 8pt;
    COLOR: #6b6b50;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.nav
{
    FONT-SIZE: 10pt;
    COLOR: #6b6b50;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.navON
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.BodyNavLink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #336699;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.leftnav:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.bb
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #00438c;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.bb:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.b
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #00438c;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.b:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.bodylink
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #00438c;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.bodylink:hover
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.rightnav
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #00438c;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.rightnav:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.blklink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #666666;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.blklink:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #00438c;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.blklinklarge
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.blklinklarge:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #00438c;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
.ltgrey2
{
    BACKGROUND-COLOR: #ececec
}
.grey
{
    BACKGROUND-COLOR: #666666
}
.ltgrey
{
    BACKGROUND-COLOR: #cccccc
}
.white
{
    BACKGROUND-COLOR: #ffffff
}
.ltblue
{
    BACKGROUND-COLOR: #94abc3
}
.bodymargin
{
    MARGIN: 0pt
}
.managementnormal
{
    FONT-SIZE: 10pt;
    COLOR: black;
    FONT-FAMILY: Arial
}
.ButtonStyle
{
    FONT-SIZE: 13px;
    COLOR: white;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: cornflowerblue
}
.fields
{
    BORDER-RIGHT: black 1px groove;
    BORDER-TOP: black 1px groove;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px groove;
    BORDER-BOTTOM: black 1px groove;
    FONT-FAMILY: Verdana, arial;
    BACKGROUND-COLOR: #ffffff;
    TEXT-DECORATION: none
}
.buttons
{
    BORDER-RIGHT: #a7a7a7 1px solid;
    BORDER-TOP: #a7a7a7 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    BORDER-LEFT: #a7a7a7 1px solid;
    COLOR: #333333;
    BORDER-BOTTOM: #a7a7a7 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #f3f3e0;
    TEXT-DECORATION: none
}
.formlabel
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: arial;
    BACKGROUND-COLOR: #f3f3e0;
    TEXT-DECORATION: none
}
.tlbLinks
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lftpan
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #006699;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
.lftpan:hover
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #006699;
    FONT-FAMILY: arial;
    TEXT-DECORATION: underline
}
.formhead
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #333333;
    FONT-FAMILY: arial;
    TEXT-DECORATION: none
}
A.submenufont
{
    BORDER-RIGHT: black 0px groove;
    BORDER-TOP: black 0px groove;
    MARGIN: 0px;
    BORDER-LEFT: black 0px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #74b4ff 0px groove;
    TEXT-DECORATION: none
}
A.submenufont:hover
{
    BORDER-RIGHT: black 0px groove;
    BORDER-TOP: black 0px groove;
    MARGIN: 0px;
    BORDER-LEFT: black 0px solid;
    WIDTH: 100%;
    BORDER-BOTTOM: #74b4ff 0px groove;
    BACKGROUND-COLOR: #cccccc;
    TEXT-DECORATION: none
}
.submenufont
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    FONT-FAMILY: verdana, arial;
    TEXT-DECORATION: none
}
.tableBgColor
{
    BACKGROUND-COLOR: #666666
}
.tdBgColor
{
    BACKGROUND-COLOR: #666666
}
.HighLight
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 0px;
    PADDING-TOP: 0px;
    FONT-FAMILY: Arial;
    BACKGROUND-COLOR: #ffff66
}
.tlbLinksCopy { FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: arial; TEXT-DECORATION: none }
